<!-- editTable.html -->
<div id="editTablePage">
    <h2>Edit Table</h2>

    <!-- 리스트 뷰 -->
    <div class="list-view">
        <h3>항목 목록</h3>
        <ul id="itemList"></ul>
    </div>

    <!-- 테이블 뷰 -->
    <div id="tableView" class="hidden">
        <h3>항목 세부 정보</h3>
        <table>
            <thead>
            <tr id="tableHeaderRow"></tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
        <button id="backToListBtn">목록으로 돌아가기</button>
    </div>
</div>
